.todoBox {
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}

.todo {
	display: flex;
	justify-content: space-between;
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.completed {
	color: rgb(204, 204, 204);
	/* text-decoration: line-through; */
}

.b1 {
	margin-right: 10px;
	color: red;
	background-color: white;
	font-size: 1.5rem;
}

.b2{
	background-color: white;
	font-size: 1.5rem;
}

.green{
	color: rgb(38, 133, 38);
}

.grey{
	color: rgb(39, 53, 39);
}

@media screen and (max-width: 768px) {
	.todo {
		display: flex;
		flex-direction: column;
	}

	.actions {
		display: block;
		margin-top: 10px;
	}
}
