.header {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.header h1 {
	color: white;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.header {
		height: 20vh;
		flex-direction: column;
	}
}

@media screen and (max-width: 450px) {
	.header h1 {
		margin-bottom: 7px;
	}
}
